.ulStyle {
    color: #fff;
    list-style-type: none;
    padding: 1em;
    margin: 1.5em;
}

.ulStyle h3 {
    font-size: 1em;
    color: white;
}

.ulStyle p {
    font-size: 1.3em;
    line-height: 1.5em;
    margin: 1.5em 2em;
}

.ulStyle hr {
    margin: 0 10em;
}

 ul li {
    padding: 1.3rem;
    border-radius: 1rem;
}

ul li:hover {
    transform: scale(0.95);
    transition: 0.2s all;
}